.header {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header input {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #faf9fe;
  -webkit-box-shadow: 2px 2px 5px gainsboro;
          box-shadow: 2px 2px 5px gainsboro;
}

.header button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 2px 2px 5px gainsboro;
          box-shadow: 2px 2px 5px gainsboro;
}

.header .women {
  background: #f7d3d4;
}

.header .men {
  background: #faf9fe;
}

.header img {
  width: 30px;
  height: 30px;
}

.sidebar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
  -ms-grid-column: 1;
  grid-column: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
}

.sidebar h3 {
  font-weight: bolder;
}

.sidebar .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.sidebar img {
  width: 30px;
  height: 30px;
}

.sidebar p {
  font-weight: bold;
}

.product-sales {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.horizontal-1 {
  -webkit-box-shadow: 2px 2px 5px gainsboro;
          box-shadow: 2px 2px 5px gainsboro;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.horizontal-2 {
  -webkit-box-shadow: 2px 2px 5px gainsboro;
          box-shadow: 2px 2px 5px gainsboro;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.vertical-1 {
  -webkit-box-shadow: 2px 2px 5px gainsboro;
          box-shadow: 2px 2px 5px gainsboro;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 3;
  grid-column: 3;
}

.vertical-2 {
  -webkit-box-shadow: 2px 2px 5px gainsboro;
          box-shadow: 2px 2px 5px gainsboro;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 4;
  grid-column: 4;
}

.horizontal-1 {
  background-color: #eceef0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.horizontal-1 h2 {
  font-weight: bold;
  font-size: 30px;
  padding: 0;
  margin: 0;
}

.horizontal-1 p {
  padding: 0;
  margin-top: 5px;
}

.horizontal-1 img {
  width: 100px;
  height: 100px;
}

.horizontal-2 {
  background-color: #afe9f2;
  border-radius: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.horizontal-2 h2 {
  width: 40%;
  font-size: 30px;
  font-weight: bold;
}

.vertical-1 {
  background-image: url("../images/vertical-1.jpg");
  background-size: cover;
  border-radius: 10px;
}

.vertical-1 p {
  background-color: #eceef0;
  font-size: 18px;
  margin-left: 10px;
}

.vertical-2 {
  background-image: url("../images/vertical-2.jpg");
  background-size: cover;
  border-radius: 10px;
}

.vertical-2 p {
  background-color: #eceef0;
  font-size: 18px;
  margin-left: 10px;
}

.product-new {
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  -webkit-box-shadow: 4px 4px 5px gainsboro;
          box-shadow: 4px 4px 5px gainsboro;
}

.new {
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 5px gainsboro;
          box-shadow: 4px 4px 5px gainsboro;
}

.new img {
  width: 100%;
  height: 150px;
  border-radius: 10px 10px 0 0;
}

.new p {
  font-weight: bold;
}

.new .new-price {
  font-weight: bolder;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #faf9fe;
}

.blue {
  background-color: white;
  padding: 5px;
}

.container {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80px (1fr)[2] 2fr;
      grid-template-rows: 80px repeat(2, 1fr) 2fr;
  -ms-grid-columns: 200px (1fr)[4];
      grid-template-columns: 200px repeat(4, 1fr);
  grid-gap: 10px;
}

img {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 992px) {
  .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 80px 80px (1fr)[3];
        grid-template-rows: 80px 80px repeat(3, 1fr);
    grid-auto-rows: 1fr;
        grid-template-areas: "header" "sidebar" "sales" "new";
  }
}
/*# sourceMappingURL=main.css.map */